<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
    <div>
        <form action="{% url 'login_in' %}" method="post">
            {% csrf_token %}
            {{ message }}
            <p>
                用户名:
                <input type="text" name="user_name">
            </p>
            <p>
                密码:
                <input type="password" name="user_pwd">
            </p>
            <p>
                验证码:
                <input type="text" name="verify">
            </p>
            <p>
                <input type="submit" value="登录">
                <button><a href="/user/register">注册</a></button>
            </p>
        </form>
    </div>
</body>
</html>