<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html">
    <title>注册</title>
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">
</head>
<body>
    <div id="container">
        <form action="{% url 'register_in' %}" method="post">
            {% csrf_token %}
            <p>
                用户名:
                <input type="text" name="user_name" class="form-control">
            </p>
            <p>
                密码:
                <input type="password" name="user_pwd" class="form-control">
            </p>
            <p>
                确认密码:
                <input type="password" name="user_cpwd" class="form-control">
            </p>
            <p>
                Email:
                <input type="email" name="email" class="form-control">
            </p>
            <p>
                手机号:
                <input type="Number" name="phone" class="form-control">
            </p>
            <p>
                <input type="submit" value="注册">
            </p>
        </form>
        {{ message }}
    </div>
</body>
</html>